{
    "plugins": [
        [
            "prismjs",
            {
                "languages": ["html", "css", "javascript", "python"],
                "plugins": ["line-numbers"]
            }
        ]
    ]
}